<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tester Tester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1058025C1C24C77D0024B75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>105802731C24C77E0024B75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1058027E1C24C77E0024B75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
