<?xml version="1.0" encoding="UTF-8"?>
<suite name="SpotifyTests" verbose="1">
	<test name="Login">
		<classes>
			<class name="com.spotify.test.login.LoginTest"/>
		</classes>
	</test>

	<test name="Search">
		<classes>
			<class name="com.spotify.test.login.SearchTest"/>
		</classes>
	</test>
	
		<test name="Play">
		<classes>
			<class name="com.spotify.test.login.PlayTest"/>
		</classes>
	</test>
	
		<test name="AddSong">
		<classes>
			<class name="com.spotify.test.login.AddtoMySongsTest"/>
		</classes>
	</test>
</suite>